.DS_Store
.cache/
.vscode/
.expo/
node_modules/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
slang_env/

# Ignore environment variables and credentials
.env
*.json